html,td,a {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 12px;
    }
  }

  .img-profile {
    border-radius: 50%;
  }


  @media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 0;
        padding-left: 25px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        z-index: 1000;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
}