<div *ngIf="mode=='new'">
  <h2>Kişisel Finans Uygulamasına Hoşgeldiniz.</h2>

  <p>
     Android ve IOS uygulamalarımızı da kullanabileceğinizi biliyor muydunuz?
  </p>

  <br>
  <p>
     Belirmiş olduğunuz adresinize bir Email gönderdik. Öncelikle mail içerisinde 
     yer alan linke tıklayarak hesabınızı aktif etmelisiniz.

     <br>

     Aktivasyon işleminden sonra sistemimizi kullanmaya başlayabilirsiniz.

   </p>
 

</div>

<div *ngIf="mode=='baska'">

</div>

<div *ngIf="mode==''">
<h1>Ooooppppsss !</h1>
</div>