<app-logged></app-logged>
<div class="content">
  <div class="container">
    <!---->
    <div class="row" *ngIf="isLoggedIn">
      <!-- <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1"> -->
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="row" *ngIf="!isLoggedIn">
        <!-- <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1"> -->
        <div class="col-xl-12">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!---->
  </div>
</div>
<!-- <app-home></app-home> -->
<simple-notifications [options]="options"></simple-notifications>